---
- name: Установка Prometheus
  hosts: prometheus
  become: yes
  gather_facts: yes

  roles:
    - prometheus.prometheus.prometheus

- name: Установка Node Exporter
  hosts: webservers:prometheus
  become: yes
  gather_facts: yes
  roles:
    - prometheus.prometheus.node_exporter