---
- name: Обновление и установка основных пакетов
  include_tasks:
    file: upd_inst.yml
  when: dist_upd | bool

- name: Проброс портов bastion
  include_tasks: port_forwards.yml
  when:
    - port_forwards | bool
    - inventory_hostname in groups['bastion']

- name: Установка и настройка nginx
  include_tasks: install_nginx.yml
  when:
    - install_nginx | bool
    - inventory_hostname in groups['webservers']

- name: Установка ELK стека для logging хостов
  block:
    - name: Установка Elasticsearch
      include_tasks: elasticsearch.yml
      when: inventory_hostname == 'elasticsearch'

    - name: Установка Kibana
      include_tasks: kibana.yml
      when: inventory_hostname == 'kibana'
  when:
    - inst_elk_stack | bool

- name: Установка Filebeat
  include_tasks: filebeat.yml
  when:
    - inst_filebeat | bool
    - inventory_hostname in groups['webservers']

- name: Установка prometheus-nginxlog-exporter
  include_tasks: nginxlog_exporter.yml
  when:
    - inst_nginxlog_exporter | bool
    - inventory_hostname in groups['webservers']
