[Unit]
Description=HTTP3
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m http.server --directory /vagrant/http3/ 7777 --bind 0.0.0.0
WorkingDirectory=/vagrant/http3/
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
