[Unit]
Description=HTTP1
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m http.server --directory /vagrant/http1/ 8888 --bind 0.0.0.0
WorkingDirectory=/vagrant/http1/
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
