#----------------------- Kibana Configuration -----------------------
server.port: {{ kibana_server_port }}
server.host: "{{ kibana_server_host }}"
elasticsearch.hosts: ["{{ kibana_elasticsearch_host }}"]