# Игнорировать всю папку:
cache/
.vagrant/
__pycache__/
mysql_D/
master/db/
slave/db/
.terraform/
collections/
galaxy_cache/
tmp/
.vscode/
.venv/
.tox/
.pytest_cache/
.codeassistant/
antrea/
k8sprototypes/
contour/
ingress-nginx/

# игнорировать расширения и файлы:
*.deb
*.crt
*.key
authorized_key.json
.terraform.lock.hcl
tfplan
terraform.tfstate
errored.tfstate
terraform.tfstate.*backup
cloud-init.yml
.terraform.*
personal.auto.tfvars
*_sonobuoy_*.tar.gz
*/self-host_git_ci_cd/.env
*/self-host_git_ci_cd/forgejo-data/gitea/*
*/self-host_git_ci_cd/forgejo-data/ssh/ssh_host_*
*/self-host_git_ci_cd/postgres-data/data/pgdata/*
# terraform.tfvars.secret
# Исключения
!9_*/cloud-init.yml