# Игнорировать всю папку:
cache/
*/.vagrant/
*/__pycache__/
mysql_D/
master/db/
slave/db/
*/.terraform/
*/collections/
*/galaxy_cache/
*/tmp/
.vscode/

# игнорировать расширения и файлы:
*.deb
authorized_key.json
.terraform.lock.hcl
*tfplan
*terraform.tfstate
*terraform.tfstate.backup
tfplan
terraform.tfstate
terraform.tfstate.backup
cloud-init.yml
*cloud-init.yml
.terraform.*
*/collections/*
.terraform/*
*/galaxy_cache/*
*/tmp/*