# Игнорировать всю папку:
cache/
.vagrant/
__pycache__/
mysql_D/
master/db/
slave/db/
.terraform/
collections/
galaxy_cache/
tmp/
.vscode/
.venv/
.tox/
.pytest_cache/
.codeassistant/
antrea/
k8sprototypes/
contour/
ingress-nginx/

# игнорировать расширения и файлы:
*.deb
*.crt
*.key
authorized_key.json
.terraform.lock.hcl
tfplan
terraform.tfstate
terraform.tfstate.*backup
cloud-init.yml
.terraform.*
personal.auto.tfvars
*_sonobuoy_*.tar.gz

# Исключения
!9_*/cloud-init.yml