[defaults]
home = ./
inventory = ./hosts.ini
roles_path = ./roles
vault_password_file =./va_pa
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
deprecation_warnings = False
ssh_args = -F ~/.ssh/config_yc_k8s -o ControlMaster=auto -o ControlPersist=60s
forks = 10

[privilege_escalation]
become = true
become_method = sudo