[defaults]
interpreter_python = /usr/local/bin/python3.9
collections_paths = ~/.ansible/collections:/usr/lib/python3.14/site-packages/ansible_collections
home=./
inventory=./inventory/cicd/hosts.yml
[privilege_escalation]
[persistent_connection]
[connection]
[colors]
[selinux]
[diff]
[galaxy]
[inventory]
[netconf_connection]
[jinja2]
[tags]
[runas_become_plugin]
[su_become_plugin]
[sudo_become_plugin]
[callback_tree]
[ssh_connection]
[winrm]
[inventory_plugins]
[inventory_plugin_generator]
[inventory_plugin_script]
[inventory_plugin_yaml]
[url_lookup]
[powershell]
[vars_host_group_vars]
