#SPDX-License-Identifier: MIT-0
---
- name: Запуск autossh служб обработчиком
  systemd:
    name: "{{ item }}"
    state: restarted
    enabled: yes
    masked: no
    daemon_reload: yes
  loop:
    - autossh-grafana.service
    - autossh-kibana.service
    - ssh.service
  listen: start_autossh

- name: Перезапуск nginx
  systemd:
    name: nginx
    state: restarted
    enabled: yes
    masked: no
    daemon_reload: yes
  listen: restart_nginx

- name: Перезапуск elasticsearch
  systemd:
    name: elasticsearch
    state: restarted
    daemon_reload: yes
  listen: restart_elasticsearch

- name: Проверка работы Elasticsearch
  uri:
    url: "http://localhost:9200"
    status_code: 200
    timeout: 30
  register: elasticsearch_status
  until: elasticsearch_status.status == 200
  retries: 20
  delay: 6
  when: not ansible_check_mode
  listen: restart_elasticsearch

- name: Перезапуск kibana
  systemd:
    name: kibana
    state: restarted
    daemon_reload: yes
  listen: restart_kibana

- name: Проверка работы Kibana
  uri:
    url: "http://localhost:5601/api/status"
    status_code: 200
    timeout: 30
  register: kibana_status
  until: kibana_status.status == 200
  retries: 20
  delay: 6
  when: not ansible_check_mode
  listen: restart_kibana

- name: Перезапуск filebeat
  systemd:
    name: filebeat
    state: restarted
    daemon_reload: yes
  listen: restart_filebeat

- name: Перезапуск prometheus-nginxlog-exporter
  systemd:
    name: prometheus-nginxlog-exporter
    state: restarted
    enabled: yes
    masked: no
    daemon_reload: yes
  listen: restart_nginxlog_exporter
