DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{ zabbix_db_password }}
LogFile=/var/log/zabbix/zabbix_server.log
Timeout=4
LogSlowQueries=3000
EnableGlobalScripts=1
AllowRoot=1
# FpingLocation=/usr/sbin/fping