# Конфигурация K3s Worker Node
server: https://{{ hostvars[groups['masters'][0]]['ansible_default_ipv4']['address'] }}:{{ k3s_cluster_api_port }}
token: {{ k3s_token }}
node-ip: {{ ansible_default_ipv4.address }}

# Метки для ноды (опционально)
node-label:
  - "node-type=worker"
  - "zone={{ ansible_facts['cloud']['availability_zone'] | default('ru-central1') }}"

# Аргументы kubelet (опционально)
kubelet-arg:
  - "max-pods=110"
