token: {{ k3s_token }}
cluster-init: true
node-ip: {{ ansible_default_ipv4.address }}

tls-san:
  - {{ hostvars[groups['masters'][0]]['ansible_host'] }}

# Отключение компонентов
{% for comp in k3s_disable_components %}
disable:
  - {{ comp }}
{% endfor %}
flannel-backend: none
disable-network-policy: false
cluster-cidr: {{ cluster_cidr }}
service-cidr: {{ service_cidr }}

# Аргументы API сервера (нужны для Prometheus)
kube-apiserver-arg:
  - "anonymous-auth=false"
  - "authorization-mode=Node,RBAC"

# Разрешаем чтение конфига для копирования
write-kubeconfig-mode: "0644"