---
global:
  rbac:
    create: true

defaultRules:
  create: true
  rules:
    alertmanager: true
    etcd: true
    general: true
    k8s: true
    kubeApiserverAvailability: true
    kubelet: true
    kubePrometheusGeneral: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    kubernetesSystem: true
    kubeStateMetrics: true
    network: true
    node: true
    nodeExporterAlerting: true
    prometheus: true
    prometheusOperator: true

alertmanager:
  enabled: true
  service:
    type: ClusterIP
    port: 9093

grafana:
  enabled: true
  adminUser: {{ grafana_admin_user }}
  adminPassword: {{ grafana_admin_password }}
  service:
    type: {{ k3s_cluster_grafana_service_type | default('ClusterIP') }}
    port: 80
    nodePort: {{ k3s_cluster_grafana_node_port | default(30080) }}
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL
    datasources:
      enabled: true
      defaultDatasourceEnabled: true

prometheus:
  enabled: true
  service:
    type: ClusterIP
    port: 9090
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 10d
    resources:
      requests:
        memory: 512Mi
        cpu: 500m
      limits:
        memory: 2Gi
        cpu: 2000m

nodeExporter:
  enabled: true
  service:
    type: ClusterIP
    port: 9100

kubeStateMetrics:
  enabled: true

prometheusOperator:
  enabled: true
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
